<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lab 12 : Harry Potter Browse Spells | Jessica Walker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="./browse-spells.js"></script>

</head>

<body data-ng-app="browseSpellsApp" data-ng-controller="browseSpellsController">
    <div style="font-size:30px">
        <div>
            <label for="name">Spell Name: </label>
            <label style="margin-left:30px; color:blue;" id="name">{{ obj.name }}</label>
        </div>
        <div>
            <label for="type">Type: </label>
            <label style="margin-left:30px; color:blue;" id="type">{{ obj.type }}</label>
        </div>
        <div>
            <label for="effect">Effect: </label>
            <label style="margin-left:30px; color:blue;" id="effect">{{ obj.effect }}</label>
        </div>
        <div>
            <label for="counter-spell">Counter Spell: </label>
            <label style="margin-left:30px; color:blue;" id="counter-spell">{{ obj["counter-spell"] }}</label>
        </div>

        <div style="float:left; margin-top:30px">
            <div style="float:left">
                <button id="previous" data-ng-click="changeSpell(-1)" data-ng-hide="hidePrev">&lt;&lt;&lt; Previous</button>
            </div>
            <div style="float:left; margin-left:0;">
                <button id="next" data-ng-click="changeSpell(1)" data-ng-hide="hideNext">Next &gt;&gt;&gt;</button>
            </div>
        </div>
    </div>
</body>

</html>